@font-face {
  font-family: space-mono;
  src: url("https://raw.githubusercontent.com/rikkathehare/Fonts/main/space_mono/SpaceMono-Bold-webfont.woff");
  font-weight: bold;
}

@font-face {
  font-family: space-mono;
  src: url("https://raw.githubusercontent.com/rikkathehare/Fonts/main/space_mono/SpaceMono-BoldItalic-webfont.woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: space-mono;
  src: url("https://raw.githubusercontent.com/rikkathehare/Fonts/main/space_mono/SpaceMono-Italic-webfont.woff");
  font-style: italic;
}

@font-face {
  font-family: space-mono;
  src: url("https://raw.githubusercontent.com/rikkathehare/Fonts/main/space_mono/SpaceMono-Regular-webfont.woff");
}
