@font-face {
  font-family: space-mono;
  src: url("SpaceMono-Regular-webfont.woff");
}

@font-face {
  font-family: space-mono;
  src: url("SpaceMono-Bold-webfont.woff");
  font-weight: bold;
}

@font-face {
  font-family: space-mono;
  src: url("SpaceMono-Italic-webfont.woff");
  font-style: italic;
}

@font-face {
  font-family: space-mono;
  src: url("SpaceMono-BoldItalic-webfont.woff");
  font-weight: bold;
  font-style: italic;
}
